<html><head><style>{% include "_legacy.css" %}</style></head>
<body style="background:#c0bcb4">
<table width="100%" cellpadding="3" cellspacing="1">
 <tr bgcolor="{{ inst.accent }}"><td><font color="#ffffff" size="1"><b>MAIN MENU</b></font></td></tr>
 <tr bgcolor="#d4d0c8"><td><a href="/members/inquiry" target="work"><font size="1">1. MEMBER INQUIRY</font></a></td></tr>
 <tr bgcolor="#d4d0c8"><td><font size="1" color="#808080">2. TRANSACTION POSTING</font></td></tr>
 <tr bgcolor="#d4d0c8"><td><font size="1" color="#808080">3. LOAN SERVICING</font></td></tr>
 <tr bgcolor="#d4d0c8"><td><font size="1" color="#808080">4. REPORTS</font></td></tr>
 <tr bgcolor="#d4d0c8"><td><a href="/logout" target="_top"><font size="1">9. SIGN OFF</font></a></td></tr>
</table>
</body></html>
