<html><head><title>MERIDIAN CORE {{ inst.product_version }} &#8212; {{ inst.short_name }}</title>
<style>html,body{margin:0;height:100%;background:#d4d0c8;}
iframe{border:0;display:block;}</style></head>
<body>
<iframe name="banner" title="Banner" src="/banner" width="100%" height="46" scrolling="no"></iframe>
<table width="100%" cellpadding="0" cellspacing="0"><tr valign="top">
 <td width="168"><iframe name="nav" title="Navigation" src="/nav" width="168" height="600" scrolling="no"></iframe></td>
 <td><iframe name="work" title="Work area" src="/work" width="100%" height="600"></iframe></td>
</tr></table>
</body></html>
